$themes: (
  light: (
    bg-color: #fff,
    bg-neutral: rgba(128, 128, 128, 0.2),
    text-color: #5d6470,
    title-color: #222,
    action-color: #fd0a4c,
  ),
  dark: (
    bg-color: #000,
    bg-neutral: rgba(128, 128, 128, 0.2),
    text-color: #c7c9ce,
    title-color: #eee,
    action-color: #fd0a4c,
  ),
);

$theme-map: null;

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    &.theme-#{$theme} {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
