.review-modal-enter {
  position: absolute;
  transform: translateY(110%);
}
.review-modal-enter-active {
  position: absolute;
  transform: translateY(0%);
  transition: all 300ms ease-out;
}
.review-modal-enter-done {
  position: absolute;
  transform: translateY(0%);
}
.review-modal-exit {
  position: absolute;
}
.review-modal-exit-active {
  transform: translateY(110%);
  transition: all 300ms ease-in;
}

.background-enter {
  background: transparent;
  backdrop-filter: unset;
}
.background-enter-active {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(11px);
  transition: all 300ms ease-in-out;
}
.background-enter-done {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(11px);
}
.background-exit {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(11px);
}
.background-exit-active {
  background: transparent;
  backdrop-filter: unset;
  transition: all 300ms ease-in-out;
}
