div.Container {
  display: flex;
  flex-direction: column;

  div.PosterSection {
    max-height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }

  div.MainInfoSection {
    margin-top: 16px;
  }

  div.ButtonsContainer {
    margin-top: 16px;
    display: flex;
    justify-content: space-evenly;

    button {
      width: 33%;
      transition: background 0.3s ease-in-out;
    }

    button:not(:last-child) {
      margin-right: 16px;
    }
  }

  div.SynopsisSection {
    margin-top: 16px;
    p {
      margin-top: 8px;
    }
  }

  div.GenresSection {
    margin-top: 16px;
    div.GenresContainer {
      display: flex;
      justify-content: space-evenly;
    }
  }

  div.CastAndCrewSection {
    margin-top: 16px;
    div.CastAndCrewWrapper {
      overflow-x: auto;
      div.CastAndCrewContainer {
        margin-top: 8px;
        width: max-content;
        display: flex;
      }
    }
  }
}

div.ReviewModal {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
