div.FeedItem {
  margin-bottom: 1rem;

  div.ItemHeader {
    margin: 1rem;
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 0.4rem;

      p {
        opacity: 0.6;
      }
    }
  }

  div.PosterContainer {
    max-width: 100%;
    img {
      max-width: inherit;
    }
  }
}
