div.Poster {
  position: relative;
  max-height: inherit;
  img {
    max-height: inherit;
    border-radius: 1rem;
  }
  div.RatingCell {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
  div.ReadReviewCell {
    position: absolute;
    right: 0.5rem;
    bottom: 0.7rem;
  }
}
