@import "../theme/theme.module.scss";

button.Button {
  font-size: 1rem;
  font-weight: bold;

  padding: 0.8rem;
  border-radius: 2rem;

  outline: none;
  border: none;
  color: white;

  transition: background-color 0.1s ease-in-out;

  @include themify($themes) {
    background-color: themed("action-color");
    &:hover {
      background-color: darken(themed("action-color"), 10%);
    }
  }
}
