@import "../theme/theme.module.scss";

div.PageContainer {
  position: relative;
  top: 0;
  left: 0;
  right: 0;

  padding: 1rem 1rem 0 1rem;
  padding-bottom: calc(5rem + env(safe-area-inset-bottom));

  min-height: calc(100% - 6rem - env(safe-area-inset-bottom));

  overflow-y: scroll;

  @include themify($themes) {
    color: themed("text-color");
    background-color: themed("bg-color");
  }
}
