@import "../theme/theme.module.scss";

div.TabsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;

  a.TabButton {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    transition: all 0.2s ease-in-out;
  }

  a.TabButtonSelected {
    background-color: grey;
  }

  @include themify($themes) {
    a.TabButton {
      border: 2px solid themed("bg-neutral");
    }

    a.TabButtonSelected {
      border: 2px solid transparent;
      background-color: lighten(themed("bg-neutral"), 20%);
    }
  }
}
