@import "../theme/theme.module.scss";

textarea.TextArea {
  height: 120px;
  border: none;
  background: transparent;
  color: white;
  border-bottom: 1px solid white;
  font-size: 1rem;
  width: 100%;

  transition: border-bottom 0.2s ease-in-out;

  @include themify($themes) {
    &:focus {
      outline: none;
      border-bottom: 1px solid themed("action-color");
    }
  }
}
