@import "./theme/theme.module.scss";

:root {
  font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
}

div.App {
  height: 100vh;

  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.9rem;
  }
  h5 {
    font-size: 0.8rem;
  }
  h6 {
    font-size: 0.7rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  @include themify($themes) {
    color: themed("text-color");
    background-color: themed("primary-bg-color");

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: themed("text-color");
    }
  }
}
